body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-105px;
  width:385px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:105px;
  top:53px;
  width:385px;
  height:37px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:190px;
  top:150px;
  width:200px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:280px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:190px;
  top:410px;
  width:200px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
